<a href="https://colab.research.google.com/github/rahulyad011/intrusion-detection/blob/main/NIDS1_UNSW_NB15_Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting

Attribute selected

In [4]:
# Load Dataset

train_df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/Datasets/UNSW_NB15/UNSW_NB15_training-set.csv')
test_df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/Datasets/UNSW_NB15/UNSW_NB15_testing-set.csv')

df = pd.concat([train_df,test_df]).reset_index(drop=True)
del train_df,test_df

In [5]:
data = df.copy()
data

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.090200,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.000300,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.005100,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.660800,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.002500,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,175337,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,13,24,0,0,0,24,24,0,Generic,1
257669,175338,0.505762,tcp,-,FIN,10,8,620,354,33.612649,...,1,2,0,0,0,1,1,0,Shellcode,1
257670,175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,3,13,0,0,0,3,12,0,Generic,1
257671,175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,14,30,0,0,0,30,30,0,Generic,1
257672,175341,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,16,30,0,0,0,30,30,0,Generic,1

In [14]:
data.columns

Index(['id', 'dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [6]:
plot = 0 # make it 1 if want plot columnwise statistics
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257673 entries, 0 to 257672
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 257673 non-null  int64
 1   dur                257673 non-null  float64
 2   proto              257673 non-null  object
 3   service            257673 non-null  object
 4   state              257673 non-null  object
 5   spkts              257673 non-null  int64
 6   dpkts              257673 non-null  int64
 7   sbytes             257673 non-null  int64
 8   dbytes             257673 non-null  int64
 9   rate               257673 non-null  float64
 10  sttl               257673 non-null  int64
 11  dttl               257673 non-null  int64
 12  sload              257673 non-null  float64
 13  dload              257673 non-null  float64
 14  sloss              257673 non-null  int64
 15  dloss              257673 non-null  int64
 16  sinpkt             257673 non-null  float64
 17  dinpkt             257673 non-null  float64
 18  sjit               257673 non-null  float64
 19  djit               257673 non-null  float64
 20  swin               257673 non-null  int64
 21  stcpb              257673 non-null  int64
 22  dtcpb              257673 non-null  int64
 23  dwin               257673 non-null  int64
 24  tcprtt             257673 non-null  float64
 25  synack             257673 non-null  float64
 26  ackdat             257673 non-null  float64
 27  smean              257673 non-null  int64
 28  dmean              257673 non-null  int64
 29  trans_depth        257673 non-null  int64
 30  response_body_len  257673 non-null  int64
 31  ct_srv_src         257673 non-null  int64
 32  ct_state_ttl       257673 non-null  int64
 33  ct_dst_ltm         257673 non-null  int64
 34  ct_src_dport_ltm   257673 non-null  int64
 35  ct_dst_sport_ltm   257673 non-null  int64
 36  ct_dst_src_ltm     257673 non-null  int64
 37  is_ftp_login       257673 non-null  int64
 38  ct_ftp_cmd         257673 non-null  int64
 39  ct_flw_http_mthd   257673 non-null  int64
 40  ct_src_ltm         257673 non-null  int64
 41  ct_srv_dst         257673 non-null  int64
 42  is_sm_ips_ports    257673 non-null  int64
 43  attack_cat         257673 non-null  object
 44  label              257673 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 88.5+ MB

In [7]:
data.describe()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
count,257673.000000,257673.000000,257673.000000,257673.000000,2.576730e+05,2.576730e+05,2.576730e+05,257673.000000,257673.000000,2.576730e+05,...,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,72811.823858,1.246715,19.777144,18.514703,8.572952e+03,1.438729e+04,9.125391e+04,180.000931,84.754957,7.060869e+07,...,5.238271,4.032677,8.322964,0.012819,0.012850,0.132005,6.800045,9.121049,0.014274,0.639077
std,48929.917641,5.974305,135.947152,111.985965,1.737739e+05,1.461993e+05,1.603446e+05,102.488268,112.762131,1.857313e+08,...,8.160822,5.831515,11.120754,0.116091,0.116421,0.681854,8.396266,10.874752,0.118618,0.480269
min,1.000000,0.000000,1.000000,0.000000,2.400000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,32210.000000,0.000008,2.000000,0.000000,1.140000e+02,0.000000e+00,3.078928e+01,62.000000,0.000000,1.231800e+04,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,64419.000000,0.004285,4.000000,2.000000,5.280000e+02,1.780000e+02,2.955665e+03,254.000000,29.000000,7.439423e+05,...,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,3.000000,4.000000,0.000000,1.000000
75%,110923.000000,0.685777,12.000000,10.000000,1.362000e+03,1.064000e+03,1.250000e+05,254.000000,252.000000,8.000000e+07,...,4.000000,3.000000,8.000000,0.000000,0.000000,0.000000,8.000000,11.000000,0.000000,1.000000
max,175341.000000,59.999989,10646.000000,11018.000000,1.435577e+07,1.465753e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,...,59.000000,46.000000,65.000000,4.000000,4.000000,30.000000,60.000000,62.000000,1.000000,1.000000

# missing value checks

In [8]:
# replacing infinity values with nan
# data.replace([np.inf, -np.inf], np.nan, inplace=True)
data.isnull().values.any()

False

In [9]:
if data.isnull().values.any():
  missing_values_per_col = data.isnull().sum()
  print(type(missing_values_per_col))
  for i, ele in enumerate(missing_values_per_col):
    if ele > 0:
      print("column:",data.columns[i], "has ",ele, " missing values")
      dtype = type(data.iloc[0,i])
      print("dtype of column :", dtype)
      if dtype is np.float64 or dtype is np.int32 or dtype is np.int64:
        # filling a missing value with
        # previous ones  
        data.fillna(method ='pad', inplace=True)
      else:
        raise Exception("dtype of column is not numerical, please handle the missing data accordingly")
data.isnull().values.any()

False

In [10]:
data.label.value_counts()

1    164673
0     93000
Name: label, dtype: int64

In [11]:
data.shape

(257673, 45)

In [12]:
# Distribution graphs (histogram/bar graph) of column data
def plotPerColumnDistribution(df, nGraphShown, nGraphPerRow):
    nunique = df.nunique()
    df = df[[col for col in df if nunique[col] > 1 and nunique[col] < 50]] # For displaying purposes, pick columns that have between 1 and 50 unique values
    nRow, nCol = df.shape
    print(nRow, nCol )
    columnNames = list(df)
    nGraphRow = int((nCol + nGraphPerRow - 1) / nGraphPerRow)
    plt.figure(num = None, figsize = (6 * nGraphPerRow, 8 * nGraphRow), dpi = 80, facecolor = 'w', edgecolor = 'k')
    for i in range(min(nCol, nGraphShown)):
        plt.subplot(nGraphRow, nGraphPerRow, i + 1)
        columnDf = df.iloc[:, i]
        if (not np.issubdtype(type(columnDf.iloc[0]), np.number)):
            valueCounts = columnDf.value_counts()
            valueCounts.plot.bar()
        else:
            columnDf.hist()
        plt.ylabel('counts')
        plt.xticks(rotation = 90)
        plt.title(f'{columnNames[i]} (column {i})')
    plt.tight_layout(pad = 1.0, w_pad = 1.0, h_pad = 1.0)
    plt.show()

In [13]:
if plot == 1:
  plotPerColumnDistribution(data, 79, 5)

In [15]:
# changing different labels to their respective broad class
# I will convert other abnormal classes to one class

# data["binary_label"]=data.label.map(lambda a: "normal" if a == 'BENIGN' else "abnormal")
data.drop('attack_cat',axis=1,inplace=True)

In [16]:
# distribution of attack classes
data.label.value_counts()

1    164673
0     93000
Name: label, dtype: int64

In [17]:
data.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,1,2,0,0,0,1,2,0,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,1,2,0,0,0,1,2,0,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,1,3,0,0,0,1,3,0,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,2,1,3,0,0,0,2,3,0,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,2,1,3,0,0,0,2,3,0,0

In [18]:
# saving unprocessed dataset to disk
data_unprocessed = data

# data_unprocessed.to_csv("/content/drive/MyDrive/Colab_Notebooks/nids_project_data/cicids2017_data/bin_data_unprocessed.csv")
# import os
# os.getcwd()

**Data Normalization(to be done after data spliting) and Encoding(to be done now)**

In [19]:
# numeric feature normalization
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

numeric_cols = data.select_dtypes(['number']).columns
# flag = 0
# scaler = None
# if flag:
#   # using standard scaler for normalizing
#   scaler = StandardScaler()
# else:
#   # using minmax scaler for normalizing
#   # to avoid negative values after scaling
#   scaler = MinMaxScaler()

# def normalization(df,col):
#   for i in col:
#     arr = df[i]
#     arr = np.array(arr)
#     df[i] = scaler.fit_transform(arr.reshape(len(arr),1))
#   return df

In [20]:
len(numeric_cols)

41

In [21]:
# calling the normalization() function
# data_num = normalization(data,numeric_cols)
data_num = data
data_num.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,1,2,0,0,0,1,2,0,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,1,2,0,0,0,1,2,0,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,1,3,0,0,0,1,3,0,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,2,1,3,0,0,0,2,3,0,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,2,1,3,0,0,0,2,3,0,0

In [24]:
# check for categorical colummns in a pandas dataframe
cat_cols = data.select_dtypes(['object']).columns
print(cat_cols)
if len(cat_cols) > 1:
  cat_cols_without_label = list(cat_cols) # enter cat cols names accordingly 
  data_categorical = pd.get_dummies(data[cat_cols_without_label],columns=cat_cols_without_label) 
data_categorical.head()

Index(['proto', 'service', 'state'], dtype='object')

In [27]:
data_categorical.columns

Index(['proto_3pc', 'proto_a/n', 'proto_aes-sp3-d', 'proto_any', 'proto_argus',
       'proto_aris', 'proto_arp', 'proto_ax.25', 'proto_bbn-rcc', 'proto_bna',
       ...
       'state_CLO', 'state_CON', 'state_ECO', 'state_FIN', 'state_INT',
       'state_PAR', 'state_REQ', 'state_RST', 'state_URN', 'state_no'],
      dtype='object', length=157)

In [26]:
data_processed = data_num
if len(cat_cols) > 1:
  data_processed = data_processed.drop(cat_cols_without_label, axis = 1)
  data_processed = data_categorical.join(data_processed)
data_processed

,proto_3pc,proto_a/n,proto_aes-sp3-d,proto_any,proto_argus,proto_aris,proto_arp,proto_ax.25,proto_bbn-rcc,proto_bna,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
0,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,0,1,2,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,0,1,2,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,3,0,0,0,1,3,0,0
3,0,0,0,0,0,0,0,0,0,0,...,2,1,3,0,0,0,2,3,0,0
4,0,0,0,0,0,0,0,0,0,0,...,2,1,3,0,0,0,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,0,0,0,0,0,0,0,0,0,0,...,24,13,24,0,0,0,24,24,0,1
257669,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,0,1,1,0,1
257670,0,0,0,0,0,0,0,0,0,0,...,3,3,13,0,0,0,3,12,0,1
257671,0,0,0,0,0,0,0,0,0,0,...,30,14,30,0,0,0,30,30,0,1
257672,0,0,0,0,0,0,0,0,0,0,...,30,16,30,0,0,0,30,30,0,1

In [28]:
# from sklearn import preprocessing
# le = preprocessing.LabelEncoder()
# data_processed['binary_label'] = le.fit_transform(data_processed['binary_label'])
# # data_processed['binary_label'].value_counts()
# data_processed.head()

In [30]:
# sampling data taking only 20% of the data
# data_processed_sample = data_processed.groupby('binary_label', group_keys=False).apply(lambda x: x.sample(frac=0.2))
data_processed_sample = data_processed

In [31]:
# saving final dataset to disk
data_processed_sample.to_csv("/content/drive/MyDrive/Colab_Notebooks/nids_project_data/UNSW_NB15_data/bin_data_processed.csv")
# final dataset for binary classification
data_processed_sample

,proto_3pc,proto_a/n,proto_aes-sp3-d,proto_any,proto_argus,proto_aris,proto_arp,proto_ax.25,proto_bbn-rcc,proto_bna,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
0,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,0,1,2,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,0,1,2,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,3,0,0,0,1,3,0,0
3,0,0,0,0,0,0,0,0,0,0,...,2,1,3,0,0,0,2,3,0,0
4,0,0,0,0,0,0,0,0,0,0,...,2,1,3,0,0,0,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,0,0,0,0,0,0,0,0,0,0,...,24,13,24,0,0,0,24,24,0,1
257669,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,0,1,1,0,1
257670,0,0,0,0,0,0,0,0,0,0,...,3,3,13,0,0,0,3,12,0,1
257671,0,0,0,0,0,0,0,0,0,0,...,30,14,30,0,0,0,30,30,0,1
257672,0,0,0,0,0,0,0,0,0,0,...,30,16,30,0,0,0,30,30,0,1

In [32]:
# creating a dataframe with only numeric attributes of binary class dataset and encoded label attribute 
numeric_bin = data_processed_sample[numeric_cols]
# numeric_bin
numeric_bin['label'] = data_processed_sample['label']

<ipython-input-32-dd79e0cb0399>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_bin['label'] = data_processed_sample['label']

In [34]:
corr= numeric_bin.corr()
corr_y = abs(corr['label'])
highest_corr = corr_y[corr_y >0.3]
highest_corr.sort_values(ascending=True)

ct_src_dport_ltm    0.318518
rate                0.335883
dwin                0.339166
dload               0.352169
swin                0.364877
ct_dst_sport_ltm    0.371672
ct_state_ttl        0.476559
id                  0.490584
sttl                0.624082
label               1.000000
Name: label, dtype: float64